@font-face {font-family:"Hindi";src:url("Hindi.ttf") format("truetype");font-weight:normal;font-style:normal;}
@font-face {font-family:"Nepali";src:url("Nepali.ttf") format("truetype");font-weight:normal;font-style:normal;}
@font-face {font-family:"Bengali";src:url("Bengali.ttf") format("truetype");font-weight:normal;font-style:normal;}
@font-face {font-family:"Punjabi";src:url("Punjabi.ttf") format("truetype");font-weight:normal;font-style:normal;}
@font-face {font-family:"Urdu";src:url("Urdu.ttf") format("truetype");font-weight:normal;font-style:normal;}
@font-face {font-family:"Tamil";src:url("Tamil.ttf") format("truetype");font-weight:normal;font-style:normal;}
